.body{
    font-size: 14px;
    color: #333;
    background-color: #ffff;
    letter-spacing: 1px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5)
}


.slides-navigation .prev,
.slides-navigation .next{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}
.slides-navigation a.prev{
    left: 20px;
    background-image: url(../img/icons/prev.png)
}
.slides-navigation a.next{
    right: 20px;
    background-image: url(../img/icons/next.png)
}
.title{
    position: absolute;
    height: 50px;
    width: 100%;
    top: 50%;
    z-index: 5;
    margin-top: -125px;
    text-align: center;
    font-style: italic;

}
.title .heading p {
    color: #ffff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 100;
    letter-spacing: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.title .heading .main {
    font-size: 50px;
}
.title .heading .sub {
    font-size: 23px;
}
.slides-navigation{
    z-index: 6;
}
.section{
    padding: 100px 0;
}
.aboutImage{
    max-width: 100%;
}
.skillsSection,
.contactSection{
    background-color: #2c3e50;
    color: #ffff;
}
.skill {
	text-align: center;
	margin-left: 10px;
}

.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
	color: rgb(150, 122, 228);
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
	content: '%';
}
.contactButton{
    color: #ffff;
    margin-top: 20px;
    padding: 15px 20px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 2px;
}
.filter a {
	color: #bdc3c7;
	border: 1px solid #bdc3c7;
	padding: 10px 18px;
	display: block;
}
.filter li {
	display: inline-block;
	padding: 5px
}

.filter .current {
	background-color: #2c3e50;;
	border-color: #df7b83;
	color: #fff;
}

.filter {
    width: 100%;
    text-align: center;
}
.section .heading{
    text-align: center;
    width: 100%;
    padding-bottom: 40px; 
}
.copyrightSection {
	background-color: #000;
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p {
	margin: 0;
}
#navigation{
    background: #2c3e50;
    padding: 20px 10px;
    z-index: 10;
    width: 100%;
}
#navigation li{
    padding: 0 10px;    
}
#navigation li a {
    color: #fff;   
}
.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}
.navbar-brand{
    color: #fff
}
.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
}
.fixedNav #navigation {
	position: fixed;
	top: 0;
}
.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .innerLoader {
	width: 100%;
	height: 100%;
	background: url(../img/805.gif) center center no-repeat;
}

